body {
    padding-top: 3rem;
}

.starter-template {
    padding-top: 3rem;    
}

.update-alert {
    margin-left: 0;
    margin-right: 0;
}

.container.history {
    background: #EAEAEA;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27,31,35,.05);
    padding-top: 32px;
    max-height: 400px;
    overflow:scroll;
}

.container.log {
    padding-top: 32px;
}

.container.config {
    padding-top: 32px;    
}

.container.api {
    padding-top: 32px;    
}

.footer {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 15px;
}
