{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="./static/starter-template.css" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">wukong-robot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="display-4"><i class="fas fa-robot"></i> wukong-robot</h1>
  <p class="lead">wukong-robot 是一个简单灵活的中文语音对话机器人。</p>
</div>

<br/>
<center>
  <span class="mt-5 mb-3 text-muted">wukong-robot &copy; 2019 </span>
</center>

<script src="./static/main.js" crossorigin="anonymous"></script>
{% end %}
